.containerForm{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 18rem;
    border-radius: 20px;
    box-shadow: 0 4px 12px #0000008a;
}
hr{
    height: 5px;
}
.MaleFemaleRadioEnd{
    display: grid;
    justify-items: end;
}
.BookAppointment{
    justify-items: center;
}