@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --c-o: #fcc34f;
  --c-db: #192e5b;
  --c-sb: #70ced0;
  --c-w: #fff;
  --f-p: 'Poppins';
}

.experts {
 display: flex;
 flex-direction: column;
 width: 98%;
 margin: auto auto 20px auto;
 color: var(--c-db);
}

.expert-container{
 display: flex;
 justify-content: space-evenly;
}

.experts-contain {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.expert-name {
 color: var(--c-sb);
}

.expert-text {
 text-align: center;
 margin-bottom: 20px;
}

.expert-img {
 height: 400px;
}

.info-btn {
 padding: 10px;
 border-radius: 15px;
 color: var(--c-db);
 border: var(--c-db) solid 2px;
 background-color: var(--c-w);
}

.info-btn:hover {
 color: var(--c-o);
 border: var(--c-o) solid 2px;
}