.leftRight{
    display: flex;
    border: 2px solid red;
    justify-content: center;
    flex-wrap: wrap;
}
.left{
    flex: 0.8;
    margin-top: 30px;
}
.right{
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 13px;
}
.cardContainer{
    margin: 30px 0;
}
.Card{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bottom{
    display: grid;
    grid-template-columns: repeat(4,20rem);
    background-color: #70ced0;
    margin-bottom: 20px;
}
.bottomdetails{
    margin: 2rem;
}